body{
	background:#fff;
}

header{
	// min-height:600px;
	background:$primary-color;
	color:#fff;
	// background:url(../img/header.jpg) no-repeat center center fixed;
	@include background-size(cover);
	padding:0 0 $padding;
}

footer{
	font-size:14px;
	.container{
		border-top:1px solid $grey;
		padding:$padding 0;
	}
}

main{
	padding:$padding 0;
}

.logo{
	// background:url(../img/logo.png) no-repeat 10px 10px;
	// background-size:227px 50px;
	// width:227px;
	// height:50px;
	// padding:10px;
	// text-indent:-9999px;
	margin:10px 0;
	float:left;
}

.actions{
	padding:$padding 0;
	background:#289EEC;
	text-align: center;
}

.section{
	margin-bottom:$padding*2;
}

.top{
	a{
		display:block;
		padding:10px;
		text-align:center;
		// width:100%;
		background:$tertiary-color;
		color:#fff;
		text-decoration:none;
		z-index:1;
		@include box-shadow(0 1px 3px rgba(0,0,0,.1));
		position:relative;
		font-weight:normal;
		strong{
			text-decoration:underline;
		}
		&:hover{
			background:$secondary-color;
		}
	}
}

header nav{
	float:right;
	a{
		float:left;
		display:inline-block;
		padding:10px 20px;
		text-decoration:none;
		color:#fff;
		font-weight:normal;
		&:hover{
			background:#fff;
			color:$primary-color;
		}
	}
}